<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Увсын өнгө админ нэвтрэх хуудас{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('/image/favicon.ico') }}" />
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('plugins/bootstrap/dist/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('plugins/fontawesome-free/css/all.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/login_style.css') }}">

        {% endblock %}
    </head>

    {% block body %}
        <body class="login-page">
            <div class="login-box">
                <div class="logo">
                    <a href="javascript:void(0);"><img src="{{ asset('/image/logo_urt.png') }}" style='width:100%;margin-bottom:20px;'></a>
                    <small> Увсын өнгө админ нэвтрэх хуудас</small>
                </div>
                <div class="card">
                    <div class="body">

                        <form method="post">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}


                            <h1 class="h3 mb-3 font-weight-normal">Хэрэглэгч нэвтрэх</h1>
                            <label for="inputUsername">Нэвтрэх нэр</label>
                            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
                            <label for="inputPassword">Нууц үг</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" required>

                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}"
                            ><br>

                            {#
                                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                                See https://symfony.com/doc/current/security/remember_me.html

                                <div class="checkbox mb-3">
                                    <label>
                                        <input type="checkbox" name="_remember_me"> Remember me
                                    </label>
                                </div>
                            #}

                            <button class="btn btn-lg btn-primary" type="submit">
                                Нэвтрэх
                            </button>
                        </form>

                    </div>
                </div>
            </div>
        </body>
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('src/js/vendor/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ asset('plugins/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    {#    <script src="{{ asset('css/admin.js') }}"></script>#}
    {#    <script src="{{ asset('css/sign-in.js') }}"></script>#}
    {% endblock %}
</html>