{#{% extends 'base.html.twig' %}#}

{#{% block title %}Edit Interview{% endblock %}#}

{#{% block body %}#}
{#    <h1>Edit Interview</h1>#}

{#    {{ include('interview/_form.html.twig', {'button_label': 'Update'}) }}#}

{#    <a href="{{ path('interview_index') }}">back to list</a>#}

{#    {{ include('interview/_delete_form.html.twig') }}#}
{#{% endblock %}#}

{% extends 'base.html.twig'%}
{% block title %} Ярилцлага засах {% endblock %}

{% block body %}
{{ render(controller(
    'App\\Controller\\HomeController::index'
)) }}
</div>
<div class="main-content">
    <div class="container-fluid">
        <div class="page-header">
            <div class="row align-items-end">
                <div class="col-lg-8">
                    <div class="page-header-title">
                        <i class="ik ik-edit theme-color"></i>
                        <div class="d-inline">
                            <h5> Ярилцлага засах</h5>
                            <span></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row layout-wrap" id="layout-wrap">
            <div class="col-md-12">
                <div class="card" id="card1">
                    <div class="card-header" style="flex-flow: row-reverse;">
                    </div>
                    <div class="card-body">
                        {{ include('interview/_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}



